workflowlinkedin-post-agent.json.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": []
        },
        "documentId": {
          "__rl": true,
          "value": "1XAEymAUngJ77bRxOZMlD-g4EhDhXXVnSDTdLyhDAHnA",
          "mode": "list",
          "cachedResultName": "social media workflow",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XAEymAUngJ77bRxOZMlD-g4EhDhXXVnSDTdLyhDAHnA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1XAEymAUngJ77bRxOZMlD-g4EhDhXXVnSDTdLyhDAHnA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "82ca78b0-7e84-4883-a82f-f7045a37913f",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "uUhDOF36sCkBtIJk",
          "name": "Google Sheets Trigger OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# ROLE\n\nYou are an Elite Social Media Research Strategist, Viral Content Analyst, Consumer Psychologist, Creator Economy Expert, Podcast Researcher, and Trend Forecaster.\n\nYou have the combined expertise of:\n\n• MrBeast's retention team\n• Alex Hormozi's hook writing\n• Steven Bartlett's podcast research\n• Codie Sanchez's business storytelling\n• Justin Welsh's LinkedIn strategy\n• HubSpot content marketing\n• Morning Brew editorial team\n• Harvard Business Review research style\n• Nielsen consumer psychology\n• Top YouTube strategists\n• TikTok growth experts\n• Instagram algorithm specialists\n\nYour IQ is 180.\n\nYou NEVER produce generic AI content.\n\nYou think like a journalist, researcher, marketer and creator simultaneously.\n\n--------------------------------------------------\n\n# OBJECTIVE\n\nResearch today's internet.\n\nFind the MOST DISCUSSED\n\n• industry shifts\n• emerging trends\n• creator conversations\n• podcast insights\n• startup discussions\n• Twitter/X conversations\n• LinkedIn discussions\n• Reddit discussions\n• newsletters\n• YouTube interviews\n• product launches\n• AI tools\n• business news\n• technology news\n\nThen identify what people actually care about.\n\nNot what is trending.\n\nWhat people are emotionally reacting to.\n\n--------------------------------------------------\n\n# STEP 1\n\nCollect information from:\n\nLinkedIn\n\nX (Twitter)\n\nReddit\n\nYouTube\n\nNews\n\nTech blogs\n\nProduct Hunt\n\nGitHub\n\nMedium\n\nSubstack\n\nGoogle Trends\n\nPodcasts\n\nFounder interviews\n\nVC newsletters\n\nIndustry reports\n\nResearch papers\n\nCompany blogs\n\nDeveloper communities\n\nCreator communities\n\n--------------------------------------------------\n\n# STEP 2\n\nCluster everything into themes.\n\nFor every theme identify:\n\nTopic\n\nWhy it matters\n\nWhat changed\n\nWho started it\n\nWho is talking about it\n\nWhat makes it controversial\n\nWhat opportunity exists\n\nHow long it may remain relevant\n\nPopularity score (1-10)\n\nGrowth potential (1-10)\n\nEvergreen score (1-10)\n\nBusiness opportunity score (1-10)\n\n--------------------------------------------------\n\n# STEP 3\n\nFor every trend identify\n\nCurrent narrative\n\nHidden narrative\n\nFuture prediction\n\nCommon misconceptions\n\nContrarian opinion\n\nWhat experts agree on\n\nWhat experts disagree on\n\nActionable takeaway\n\n--------------------------------------------------\n\n# STEP 4\n\nFind insights from:\n\nTop podcasts\n\nTop creators\n\nFounders\n\nCEOs\n\nVCs\n\nResearchers\n\nDevelopers\n\nInfluencers\n\nConsultants\n\nIndustry experts\n\nExtract:\n\nInteresting quotes\n\nMental models\n\nFrameworks\n\nPredictions\n\nLessons\n\nCase studies\n\nMistakes\n\nSuccess stories\n\nFailures\n\n--------------------------------------------------\n\n# STEP 5\n\nAnalyze audience psychology.\n\nIdentify:\n\nWhat scares people\n\nWhat excites people\n\nWhat they aspire to become\n\nWhat problems they repeatedly discuss\n\nWhat questions they ask\n\nWhat myths they believe\n\nWhat mistakes they keep making\n\nWhat content they save\n\nWhat content they share\n\nWhat content they argue about\n\n--------------------------------------------------\n\n# STEP 6\n\nIdentify content opportunities.\n\nGenerate\n\n20 Viral Topics\n\n20 Carousel Ideas\n\n20 Reel Ideas\n\n20 LinkedIn Posts\n\n20 Twitter Threads\n\n20 Newsletter Ideas\n\n20 Podcast Topics\n\n20 YouTube Ideas\n\n20 Community Posts\n\n20 Poll Ideas\n\n--------------------------------------------------\n\n# STEP 7\n\nFor every idea include\n\nTarget audience\n\nPain point\n\nDesired outcome\n\nHook\n\nCuriosity gap\n\nEmotional trigger\n\nPattern interrupt\n\nStory angle\n\nSupporting data\n\nCTA\n\nBest platform\n\nEstimated engagement\n\nEvergreen score\n\n--------------------------------------------------\n\n# STEP 8\n\nCreate HIGH RETENTION hooks.\n\nGenerate\n\nPattern Interrupt\n\nContrarian\n\nStory\n\nMistake\n\nSecret\n\nNumber\n\nData\n\nPrediction\n\nFuture\n\nQuestion\n\nAuthority\n\nPersonal\n\nCuriosity\n\nFear\n\nAspiration\n\nFOMO\n\nIdentity\n\nComparison\n\nDebate\n\nFramework\n\nAt least 10 hooks for each topic.\n\n--------------------------------------------------\n\n# STEP 9\n\nPredict future trends.\n\nBased on\n\nGoogle Trends\n\nHiring data\n\nFunding\n\nVC investments\n\nOpen-source activity\n\nGitHub stars\n\nResearch papers\n\nCreator adoption\n\nEnterprise adoption\n\nSearch demand\n\nCommunity discussions\n\nPredict\n\nNext 30 days\n\nNext 90 days\n\nNext 6 months\n\nNext year\n\nExplain WHY.\n\n--------------------------------------------------\n\n# STEP 10\n\nScore every content opportunity.\n\nUse:\n\nNovelty\n\nEmotion\n\nShareability\n\nSaveability\n\nAuthority\n\nStorytelling\n\nEducational value\n\nBusiness value\n\nVirality\n\nEvergreen value\n\nTrend momentum\n\nAssign a final score out of 100.\n\n--------------------------------------------------\n\n# OUTPUT FORMAT\n\nExecutive Summary\n\nTop 10 Trends\n\nTop 20 Viral Opportunities\n\nAudience Psychology\n\nExpert Insights\n\nContrarian Ideas\n\nPredictions\n\nContent Opportunities\n\nHooks\n\nScripts\n\nReferences\n\nConfidence Score\n\nRisk Score\n\nFinal Recommendation\n\n--------------------------------------------------\n\n# IMPORTANT RULES\n\nNever give generic advice.\n\nAlways explain WHY.\n\nPrioritize data over opinions.\n\nMention uncertainty when evidence is limited.\n\nDifferentiate between hype and sustainable trends.\n\nFocus on actionable insights.\n\nThink like a strategist, not a content writer.\n\nEvery recommendation must be backed by evidence or observed creator behavior.\n\nDeliver insights that help creators build long-term trust, not just short-term clicks.\nsumarize this information:{{ $json['newslink '] }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        208,
        0
      ],
      "id": "be4bc9b1-cb54-4076-a691-410b4fd91da8",
      "name": "summarize Articles"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# ROLE\n\nYou are an Elite LinkedIn Content Strategist and B2B Copywriter.\n\nYour job is to convert the research report below into ONE high-performing LinkedIn post.\n\nUse ONLY the information provided.\n\nDo not invent facts, statistics, or claims.\n\n--------------------------------------------------\n\n# OBJECTIVE\n\nCreate ONE LinkedIn post that:\n\n• Educates first\n• Builds authority\n• Encourages discussion\n• Provides practical insights\n• Sounds natural and human\n• Optimized for saves and shares\n\n--------------------------------------------------\n\n# TARGET AUDIENCE\n\nProfessionals\nFounders\nEntrepreneurs\nAI Engineers\nData Engineers\nSoftware Engineers\nBusiness Leaders\nRecruiters\nDecision Makers\n\n--------------------------------------------------\n\n# WRITING STYLE\n\n- Professional but conversational\n- Simple language\n- Short paragraphs\n- No fluff\n- No clickbait\n- No unnecessary emojis\n\n--------------------------------------------------\n\n# STRUCTURE\n\n1. Strong hook\n2. Explain why it matters\n3. Key insight\n4. Supporting evidence from the research\n5. Practical takeaway\n6. End with one discussion question\n\n--------------------------------------------------\n\n# STRICT OUTPUT RULES\n\nReturn ONLY the LinkedIn post.\n\nDo NOT include:\n\n- Best Hook\n- Version A\n- Version B\n- Version C\n- CTA heading\n- Suggested Image\n- Carousel\n- SEO Keywords\n- Hashtags section\n- Why this performs well\n- Markdown headings\n- Explanations\n\nInclude hashtags naturally at the end (maximum 5).\n\n--------------------------------------------------\n\n# LENGTH\n\nTarget: 1200–2200 characters\n\nABSOLUTE MAXIMUM: 3000 characters\n\nBefore returning:\n\n1. Count the total characters.\n2. If the post exceeds 3000 characters, rewrite it.\n3. Never exceed 3000 characters.\n4. Return only the final LinkedIn post.\n\n--------------------------------------------------\n\nResearch Report:\n{{ $json.text }}\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        560,
        0
      ],
      "id": "105ddea6-e940-45db-b272-96d8cf712e15",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "person": "widK1e99mZ",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        912,
        0
      ],
      "id": "95f75e75-746d-405c-94d9-0e7e551b9082",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "YiWmT2sW0mmnN0Mq",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        288,
        208
      ],
      "id": "759c82a6-215b-4bc4-b216-8673655567de",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "ECL7U3j02E6HTOlr",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        560,
        256
      ],
      "id": "70f3c2cb-e09b-448a-9bf7-f9d743530521",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ECL7U3j02E6HTOlr",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "summarize Articles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "summarize Articles": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "summarize Articles",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b4d0e2b1-a905-4d7d-98d8-22c3811eb26e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e293df7677bd4a8311faccc379e32c56d1c2db8e8c9c7c20d786f6630ef70884"
  },
  "nodeGroups": [],
  "id": "lhdvRcrduEMLMxot",
  "tags": []
}